.carsListTitle {
  font-size: 36px;
  font-weight: 600;
  color: #1890ff;
  margin-bottom: 1.5rem;
}

.carsList {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
}

.filterList {
  display: flex;
}

.carsListHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sort {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.sort__title {
  color: gray;
  margin-bottom: 0.25rem;
}

.sort__select {
  width: 160px;
}