.gallary {
  display: flex;
  flex-wrap: wrap;
}

.mainContainer {
  display: flex;
  flex-direction: column;
}

.soldPrice {
  margin: 2.5rem 0;
}

.priceList {
  display: flex;
  font-size: 16px;
  color: #1890ff;
}
.emptyBlock {
  display: flex;
  justify-content: center;
  align-items: center;
}