.filter {
  width: 27px;
  height: 30px;
  border: 1px solid #e6f4ff;
  background-color: #e6f4ff;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  transition: 0.3s ease all;
}

.filter:hover {
  background-color: #91caff;
  color: white;
}
.filter:hover svg{
  fill: #0958d9;
}

.filter svg {
  fill: #1677ff;
}

.filter__title {
  font-size: 36px;
  color: #1890ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #1890ff;
  text-transform: uppercase;
}

.filterItem_title {
  display: flex;
  align-items: center;
  color: #1890ff;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 0.25rem;
}

.filterItem_title img {
  margin-right: 0.25rem;
  fill: #1890ff;
}

.priceBlock {
  margin-bottom: 1.5rem;
}