.extraOptions {
  margin-bottom: 0.75rem;
}

.title {
  color: gray
}

.acceptParseDate {
  color: #389e0d;
}

.warnParseDate {
  color: #fa8c16;
}

.dangerParseDate {
  color: #f5222d;
}

.noParseDate {
  color: rgba(0, 0, 0, 0.8);
}