.customSaveBtn {
  margin-right: 0.5rem;
}

.divider {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.divider span {
  color: #1677ff;
}

.eye {
  cursor: pointer;
}

.eye:hover {
  color: #1677ff;
}

.modalHeader {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.modalHeader button {
  margin-left: 0.5rem;
}

.moreContentBtn {
  color: #1677ff;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.acceptParseDate {
  color: #389e0d;
  margin-left: 0.25rem;
}

.warnParseDate {
  color: #fa8c16;
  margin-left: 0.25rem;
}

.dangerParseDate {
  color: #f5222d;
  margin-left: 0.25rem;
}

.noParseDate {
  color: rgba(0, 0, 0, 0.8);
  margin-left: 0.25rem;
}

.title {
  color: gray
}

.extraOptions {
  margin-bottom: 0.75rem;
}

.selectAllBtn {
  color: #52c41a;
  border-color: #52c41a;
  margin-right: 0.25rem;
}

.selectAllBtn:hover {
  color: #52c41a!important;
  background-color: #f6ffed!important;
  border-color: #52c41a!important;
}

.deselectAllbtn {
  color: #fa8c16;
  border-color: #fa8c16;
}

.deselectAllbtn:hover {
  color: #fa8c16!important;
  background-color: #fff7e6!important;
  border-color: #fa8c16!important;
}
