.logo {
  font-size: 34px;
  cursor: pointer;
  color: white;
  display: flex;
  justify-content: center;
  padding: 16px;
  transition: all 0.3s ease;
}

.logo:hover {
  color: rgba(255, 255, 255, 0.8);
}