.carsFilterTitle {
  font-size: 44px;
}

.carsFilterDescription {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  font-family: 'PT Mono', monospace;
  line-height: 125%;
  letter-spacing: 2px;
}

.carsFilter {
  display: flex;
  flex-direction: column;
}

.filterList {
  display: flex;
  align-items: end;
  margin-top: 0.5rem;
}

.filterHeader {
  margin: 1.5rem 0;
}
.carsSelects {
  display: flex;
}

.filterIcon {
  display: flex;
  justify-content: end;
}

.banner {
  height: 120px;
  border: 1px solid #075C7A;
  padding-left: 64px;
  border-radius: 4px;
  color: white;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  justify-content: center;
  background: url(/src/assets/img/banner.jpg) center 75% no-repeat;
  background-size: cover;
}
.banner a{
  color: white;
  text-decoration: none;
}

.bannerTitle {
  font-size: 1.75rem;
}
