@import '~antd/dist/reset.css';

h1 {
  font-family: 'Bebas Neue', sans-serif;
  color: '#fff';
  font-size: 52px;
  font-weight: 400;
  text-transform: 'uppercase';
  color: white;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-table-wrapper {
  width: 100%;
}
 
.ant-select-selector {
  background-color: #33313E;
  border-radius: 2px;
  padding: 3px 16px;
  box-shadow: none!important;
  border: none!important;
  outline: none;
  font-family: "Roboto"!important;
  font-size: 14px;
  line-height: 30px!important;
  letter-spacing: 0.02em!important;
  color: #FFFFFF!important;
  appearance: none!important;
  cursor: pointer!important;
}
.ant-select-selection-item {
  color: white!important;
}
.ant-select-selector input {
  color: white!important;
}
.ant-select-selector input::placeholder {
  color: white;
}
.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  display: flex;
  align-items: center;
  background-color: #33313E;
  border: 1px solid rgba(255,255,255,0.5);
  border-radius: 2px;
  padding: 3px 16px;
  height: 30px;
}
.ant-select-selection-search {
  display: flex!important;
  align-items: center!important;
}

.ant-select-selection-placeholder {
  color: #f0f0f0!important;
}
.ant-select-arrow {
  color: #f0f0f0!important;
}
.ant-select-dropdown {
  background-color: #33313E!important;
}
.ant-select-item-option-content {
  color: rgba(255,255,255,0.6)!important;
}
.ant-select-item:hover {
  background: #3B3A46!important;
  color: #fff!important;
}

.ant-select-item:hover .ant-select-item-option-content{
  color: #fff!important;
}

.ant-select-dropdown .ant-select-item {
  padding: 3px 16px!important;
  font-family: "Roboto"!important;
  font-size: 14px!important;
  line-height: 30px!important;
  letter-spacing: 0.02em!important;
  color: rgba(255,255,255,0.6)!important;
}

.ant-select-item-option-active, .ant-select-item-option-selected {
  background-color: rgba(0, 0, 0, 0.1)!important;
}
.anticon-check {
  color: #f0f0f0!important;
}

.ant-tabs-content {
  height: 100%;
}
.ant-tabs-tabpane {
  height: 100%;
}


/*
  table
*/

.ant-table-wrapper table {
  border-spacing: 0 20px;
  background-color: rgb(18, 18, 36);
  border-radius: 0;
}

.ant-table-wrapper .ant-table-tbody >tr >td {
  border: none;
  color: white;
  border-top: 1px solid #33323D;
  border-bottom: 1px solid #33323D;
  font-family: 'PT Mono', monospace;
}
.ant-table-wrapper .ant-table-tbody >tr >td:first-child {
  border-left: 1px solid #33323D;
}
.ant-table-wrapper .ant-table-tbody >tr >td:last-child {
  border-right: 1px solid #33323D;
}
.ant-table-wrapper .ant-table-tbody >tr.ant-table-row:hover>td {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1)!important;
  border-color: #00c3b5;
}
.ant-table-row:hover {
  background-color: #6897ab;
}
.ant-table-row:nth-child(odd) {
  background-color: #33323D;
}

.ant-table-row:nth-child(even) {
  background-color: #33323D;
}

.ant-table-wrapper td.ant-table-column-sort {
  background-color: #33323D;
}

.ant-table-wrapper .ant-table-thead >tr>th {
  border: none;
  color: white;
  background-color: rgb(18, 18, 36);
  font-family: "Roboto";
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  color: #6C757D;
}

.ant-tabs-nav-list {
  color: white;
}
.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #1da7dd;
}

.ant-layout .ant-layout-sider {
  background-color: rgb(10, 10, 31);
}
.ant-layout .ant-layout-sider-trigger {
  background-color: rgb(10, 10, 31);
}

.ant-menu-dark {
  background-color: rgb(10, 10, 31);
}

/*
  Ant message
*/

.ant-message-notice-content {
  color: white;
  padding: 21px;
  background: linear-gradient(135deg, rgba(63,135,167,0.75) 0%, rgba(17,86,120,0.85) 97%)!important;
  border: 1px solid #00cabd!important;
  transition: 0.3s;
}

.ant-message-notice .ant-message-loading>.anticon {
  color: #00cabd!important;
}


/*
  Кнопки меню сайдбара
*/
.ant-menu-dark .ant-menu-item-selected {
  background-color: #00c3b5;
}

.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item:not(.ant-menu-item-selected):active {
  background-color: #00f6e4;
}
.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-submenu-title:active {
  background-color: #00f6e4;
}

.ant-menu-dark>.ant-menu .ant-menu-item-selected {
  background-color: #00c3b5;
}

/*
  Empty
*/

.ant-empty-description {
  color: white!important;
  font-family: 'PT Mono', monospace;
}

/*
  thead
*/
.ant-table-wrapper .ant-table-tbody>tr.ant-table-placeholder td {
  background-color: rgb(18, 18, 36)!important;
}
.ant-table-wrapper .ant-table-tbody>tr.ant-table-placeholder {
  background: none!important;
}

.ant-table-placeholder {
  background-color: rgb(18, 18, 36)!important;
}

.ant-table-wrapper .ant-table-container table>thead>tr:first-child >*:first-child {
  border-start-start-radius: 0;
}
.ant-table-wrapper .ant-table-container table>thead>tr:first-child >*:last-child {
  border-start-end-radius: 0;
}

.ant-table-wrapper .ant-table-thead >tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
  display: none;
}

.ant-table-wrapper .ant-table-thead th.ant-table-column-has-sorters:hover {
  background-color: #33323D;
  color: rgba(255, 255, 255, 0.8);
}

.ant-table-wrapper .ant-table-column-sorter {
  color: rgba(255, 255, 255, 0.5);
}

.ant-table-wrapper .ant-table-column-sorters:hover .ant-table-column-sorter {
  color: rgba(255, 255, 255, 0.8);
}

.ant-table-wrapper .ant-table-thead th.ant-table-column-sort {
  color: #FFFFFF;
  background-color: rgb(18, 18, 36);
}
.ant-table-wrapper .ant-table-column-sorter-up.active, .ant-table-wrapper .ant-table-column-sorter-down.active {
  color: #FFFFFF;
}

/*
  spin
*/

.ant-spin .ant-spin-dot-item:nth-child(1) {
  background-color: #00c3b5;
}
.ant-spin .ant-spin-dot-item:nth-child(2) {
  background-color:#00cabd;
}
.ant-spin .ant-spin-dot-item:nth-child(3) {
  background-color:#00f6e4;
}
.ant-spin .ant-spin-dot-item:nth-child(4) {
  background-color:#00ecdc;
}

/*
  Ant table pagination
*/

.ant-pagination.ant-pagination-mini .ant-pagination-item:not(.ant-pagination-item-active) {
  margin-right: 0.25rem;
  border-radius: 2px;
  background-color: #33313E;
}
.ant-pagination.ant-pagination-mini .ant-pagination-item:not(.ant-pagination-item-active):hover {
  border-color: #00c3b5;
  background-color: #33313E;
}
.ant-pagination .ant-pagination-item a {
  color: white;
}

.ant-pagination .ant-pagination-item-active {
  border-color: #00c3b5;
  background-color: #00c3b5;
  margin-right: 0.25rem!important;
  border-radius: 2px;
}
.ant-pagination .ant-pagination-item-active:hover {
  border-color: #00c3b5;
}

.ant-pagination .ant-pagination-item-active:hover a {
  color: white;
}
.ant-pagination.ant-pagination-mini .ant-pagination-prev .ant-pagination-item-link {
  border: none;
}
.ant-pagination.ant-pagination-mini .ant-pagination-prev .ant-pagination-item-link svg,
.ant-pagination.ant-pagination-mini .ant-pagination-next .ant-pagination-item-link svg {
  fill: #00c3b5;
}

.ant-pagination .ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-ellipsis,
.ant-pagination .ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-link-icon,
.ant-pagination .ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-ellipsis,
.ant-pagination .ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-link-icon {
  color: #00c3b5;
}


.ant-carousel {
  width: 100%;
}