.filterModal {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding-bottom: 0;
}

.filterModal .ant-modal-content {
  height: 100%;
  background-color: #33323D;
  border-radius: 0px;
}

.ant-modal .ant-modal-header {
  background-color: #33323D;
}